body {
    background-color:bisque;
    }

ul.mainmenu {
	list-style: none;
	background: SandyBrown;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 25px;
	font-family: "Courier New", Times, serif;
	font-weight: bold;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 130px 0px 130px;
}

ul.mainmenu li.last {
    float: right;
    }

ul.mainmenu li a {
	color: Sienna;
	text-decoration: none;
}

ul.mainmenu li a:hover {
	color: Sienna;
}

h1.review {
    color:sienna;
    text-align:center;
    background-color: burlywood;
    }

h1.restaurant {
    color:DarkRed;
    text-align:center;
    font-family:Verdana;
    font-size:50px;
    }

h1.login {
    color:DarkRed;
    text-align:left;
    font-family:Verdana;
    font-size:50px;
    }

div.feed div {
    display:inline-block;
    background-color:Pink;
    border-style:outset;
    border-color:brown;
    border-radius:10px;
    }
 }

div.content {
	margin: 10px;
}

form.form-contact label {
	display: inline-block;
	min-width: 80px;
	color: Brown;
	font-size: 20px;
}
div.form-contact p {
    margin: 10px 0 10px 0;
}

div.form-contact input[type=submit], textarea {
	font-size: 16px;
}

div.form-contact .invalid {
	background: #FF9898;
}
div.form-contact .invalid-feedback {
	color: #CC0000;
}

div.flash {
    padding: 10px;
    }

div.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}

div.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

hr {
    width:100%;
     }

button {
    background-color:RosyBrown;
    border-style:outset;
    border-color:brown;
    border-radius:10px;
    }

table.review {
    width:100%;
    }

th {
    font-size:40px;
    color:chocolate;
    text-align:center;
    width:100%;
    }

td.review {
    width:400px;
    height:250px;
    align:center;
      }

td.kitchen {
    color:DarkGoldenrod;
    font-size:18px;
    text-align:left;
      }

td.location {
    color:DarkGoldenrod;
    font-size:18px;
    text-align:center;
      }

td.hours {
    color:DarkGoldenrod;
    font-size:18px;
    text-align:right;
      }

td.g1 {
    valign:top;
    width:50%;
    height:100%;
    }
td.g2 {
    valign:top;
    height:450px;
    width:1000px;
    }
td.g3 {
    valign:top;
    width:333px;
    height:250px;
    }

td.a1 {
    valign:top;
    height:300px;
    width:300px;
    }
td.a2 {
    valign:top;
    align:center;
    height:300px;
    width:300px;
    }
td.a3 {
    align:center;
    valign:bottom;
    width:150px;
    height:150px;
    }

td.h1 {
    valign:top;
    height:100%;
    width:33%;
    }
td.h2 {
    valign:top;
    align:center;
    height:100%;
    width:33%;
    }
td.h3 {
    valign:top;
    align:center;
    width:33%;
    }
td.p1 {
    valign:top;
    height:100%;
    width:25%;
    }
td.p2 {
    valign:top;
    align:center;
    height:100%;
    width:25%;
    }
td.t1 {
    valign:top;
    height:100%;
    width:40%;
    }
td.t2 {
    align:left;
    valign:bottom;
    width:35%;
    }
td.t3 {
    align:left;
    valign:top;
    width:35%;
    }
td.m1 {
    valign:top;
    align:center;
    width:50%;
    }






td.m3 {
    align:center;
    valign:top;
    width:50%;
    }
td.t3 {
    align:left;
    valign:top;
    width:35%;
    }


img.review {
    width:1250px;
    }
img.review1 {
    width:400px;
    height:250px;
    align:center;
      }
img.review2 {
    width:450px;
    height:250px;
    align:center;
      }
img.g1 {
    width:100%;
    height:100%;
    }
img.h1{
    width:400px;
    height:515px;
    }
img.p1 {
    width:300px;
    height:400px;
    }
img.p2 {
    width:600px;
    height:400px;
    }
img.t1 {
    width:100%;
    height:200%;
    }
img.t2 {
    width:92%;
    height:50%;
    }
img.t3 {
    width:280px;
    height:185px;
    }

img.feedback {
    width:150px;
    height:150px;
    }


h2 {
    color:Chocolate;
    font-size:30px;
    }

ul.list-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 600px;
}
ul.list-posts li {
	margin: 20px 0 0 0;
	border: 1px solid #eee;
}
ul.list-posts .title {
	margin: 0;
	padding: 5px;
	background: #eee;
}
ul.list-posts .annonce {
	margin: 0;
	padding: 10px 5px 10px 5px;
}

.profile-ava {
	width: auto;
	height: auto;
	text-align: center;
	overflow: hidden;
}
.profile-ava img {
    width: auto;
    height: auto;
}
.main-ava {
	width: 300px;
	height: 300px;
	text-align: center;
	overflow: hidden;
	}
.main-ava img {
    width: 300px;
    height: 300px;
}

.profile-load {
	margin-top: 10px;
	overflow: hidden;
	max-width: 300px;
}
.profile-load input[type=submit], input[type=file] {
	width: 100%;
	font-size: 18px;
}
.profile-load p {
	padding: 0;
	margin: 5px 0 0 0;
}

.profile-panel {
    padding: 0 0 0 10px;
    }
ul.profile-info {
	height: 60px;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Courier New", Times, serif;
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0 0;
	color: #7E652F;
}
ul.profile-info li {
    margin-top: 5px;
    }

a {
    target:blank;
    color:Chocolate;
    }
a.leave {
    text-decoration: none;
    }

a.new {
    border-style: inset;
    border-color: Red;
    font-family: "Courier New", Times, serif;
	font-weight: bold;
	font-size: 20px;
	color: Red;
	text-decoration: none;
}

li.username {
    color: Sienna
}
p.contacts {
    color:Brown;
    font-size:20px;
    }

p.none{
    color:chocolate;
    font-size:25px;
}

p.annonce {
    color:chocolate;
    font-size:15px;
    border-style: outset;
    border-radius: 20px;
    background-color: beige;
    font-family: Arial;

}
p a {
    color:chocolate;
    }

p.footer {
    color:maroon;
    font-size:20px;
    }
