<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Список отзывов</title>
        <meta name='Список отзывов' content='все отзывы на ресторан'>
    </head>
    <body>
    {%- block mainmenu -%}
        <ul class="mainmenu">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('index') }}">Главная</a>
                <li class="username"><a href="{{ url_for('profile', username=g.user.username) }}">Профиль</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
      </ul>
    {% endblock mainmenu -%}

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    {% block header %}
    <h2>Отзывы на ресторан <a href="{{ url_for('restaurant', rest_id=rest_id) }}">"{{restaurant}}"</a></h2>
    {% if g.user %}
        <a class="action" href="{{ url_for('feed.leave_feedback', rest_id=rest_id) }}">Новый отзыв</a>
    {% endif %}
    {% endblock %}

    {% if not feedbacks %}
    <h3>Отзывы к ресторану отсутствуют</h3>
    {% else %}
    <table>
        {% for f in feedbacks %}
            <tr valign="top">
                <td><img class="feedback" src="{{ url_for('userava', username=f.author) }}"></td>
                <td>
                    <p><a href="{{ url_for('feed.show_feedback', feedback_id=f.id) }}">{{f.title}}</a></p>
                    <p>Автор: <a href="{{ url_for('profile', username=f.author) }}">{{f.author}}</a></p>
                    <p>От {{f.created.strftime('%d-%m-%Y')}}</p>
                    <p class="annonce">{{ (f.body | striptags) [:50] }}...</p>
                </td>
                {% if g.user['id'] == f.author_id %}
                <td>
                    <a href="{{ url_for('feed.update_feedback', feedback_id=f.id) }}">Редактировать/Удалить</a>
                </td>

                {% endif %}
                {% if not loop.last %}
                    <hr>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
     <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>





