<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Оставить отзыв</title>
        <meta name='Оставить отзыв' content='создание отзыва пользователя'>
    </head>
    <body>
    {%- block mainmenu -%}
      <ul class="mainmenu">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('index') }}">Главная</a>
                <li class="username"><a href="{{ url_for('profile', username=g.user.username) }}">Профиль</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="login">Новый отзыв на ресторан  <a class="leave" href="request.headers.get('Referer')">{{request.headers.get('Referer').split('/')[3]}}</a></h1>
        <main>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

              <form action="{{url_for('feed.leave_feedback')}}" method="post" class="form-contact">
                <p><label for="title">Заголовок отзыва: </label>
                    <input id="title" name="title" value="{{ request.form['title'] }}" required />
                <p><label for="body">Текст отзыва: </label>
                    <p><textarea id="body" name="body"  rows=7 cols=40>{{ request.form['body'] }}</textarea>
                  <p><input type="submit" value="Сохранить" />
                  <p><input type="submit" value="Отменить" />
              </form>

        </main>
        <footer>
            <hr>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>

