<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Отредактировать отзыв</title>
        <meta name='Отредактировать отзыв' content='Изменение отзыва пользователя'>
    </head>
    <body>
    {%- block mainmenu -%}
      <ul class="mainmenu">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('index') }}">Главная</a>
                <li class="username"><a href="{{ url_for('profile', username=g.user.username) }}">Профиль</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="login">Редактировать отзыв <a class="leave" href="{{ url_for('feed.show_feedback', feedback_id=feedback_id) }}">{{title}}</a> на ресторан  <a class="leave" href="{{ url_for('restaurant', rest_id=rest_id) }}">{{rest_title}}</a></h1>
        <main>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

              <form action="{{ url_for('feed.update_feedback', feedback_id=feedback_id) }}" method="post" class="form-contact">
                <p class="none"><label for="title">Заголовок отзыва: </label>
                    <input id="title" name="title" value="{{ request.form['title'] or title}}" required />
                <p class="none"><label for="body">Текст отзыва: </label>
                    <p><textarea id="body" name="body"  rows=7 cols=40>{{ request.form['body'] or body }}</textarea>
                  <p><input type="submit" value="Сохранить" />
              </form>
            <hr>
            <form action="{{ url_for('feed.delete_feedback', feedback_id=feedback_id) }}" method="post">
            <input class="danger" type="submit" value="Удалить" onclick="return confirm('Вы уверены?');">
            </form>

        </main>
        <footer>
            <hr>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>



