<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Алаверди</title>
        <meta name='Алаверди' content='обзор ресторана'>
    </head>
    <body>
     {%- block mainmenu -%}
      <ul class="mainmenu">
          <li><a href="{{ url_for('index') }}">Главная</a>
              {% if current_user.is_authenticated %}
            <li><span class="username"><a href="{{ url_for('profile', username=current_user.username)) }}">{{ current_user.username }}</a></span>
            <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
            <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
          {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="restaurant">Алаверди</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Европейская | Закусочная | Здоровая</td>
              <td class="location">📍 ул. Константина Гамсахурдиа, 36, Батуми 6010 Грузия   </td>
              <td class="hours">   🕧   Часы работы:10:00 AM - 12:00 AM</td>
              </tr>
          </table>
            <table class="review">
              <tr>
                <td class="a1"><img src="/static/images/alaverdi1.jpg" class="a1"></td>
                <td class="a2"><img src="/static/images/alaverdi2.jpg" class="a1"></td>
                  <td class="a3"><img src="/static/images/alaverdi3.jpg" class="a2"></td>
                <td class="a3"><img src="/static/images/alaverdi4.jpg" class="a2"></td>
              </tr>
                <tr>
                  <td class="a4"><img src="/static/images/alaverdi5.jpg" class="a2"></td>
                  <td class="a4"><img src="/static/images/alaverdi6.jpg" class="a2"></td>
              </tr>
          </table>

          <h2>Обязательно загляните в этот ресторан, если окажетесь неподалёку от Церкви Святого Христа Всеспасителя. Ресторан Алаверди понравится ценителям грузинской кухни. Многие гости приходят в это место, чтобы попробовать вкусные хинкали, хачапури и шашлык. Закажите неплохое домашнее вино. В этом заведении можно попробовать хороший кофе или вкусный лимонад.
<br><br>Здесь можно вкусно перекусить на открытой веранде. Большинство посетителей говорят, что персонал здесь приятный. Клиентам нравится роскошный сервис. Множество посетителей указывают на то, что цены здесь умеренные. Вы обязательно оцените отличную атмосферу и впечатляющий интерьер. Средний рейтинг этого ресторана на Google 4.4.
</h2>

            <div class="feed">
                <div><a href="{{ url_for('blueprint_prof_feed.leave_feedback')}}">Оставить отзыв</a></div>
                <div><a href="{{ url_for('blueprint_prof_feed.all_feedbacks')}}">Список отзывов о ресторане</a></div>
            </div>

            <p class="contacts"><u>Контакты:</u>
          <p class="contacts"> +995 555 77 36 36</p>
              <a href="https://www.facebook.com/Alaverdi.Restaurant.Batumi">Веб-сайт</a>
        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>