<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Гурман</title>
        <meta name='Гурман' content='обзор ресторана'>
    </head>
    <body>
     {%- block mainmenu -%}
     <ul class="mainmenu">
          <li><a href="{{ url_for('index') }}">Главная</a>
              {% if current_user.is_authenticated %}
            <li><span class="username"><a href="{{ url_for('profile', username=current_user.username) }}">{{ current_user.username }}</a></span>
            <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
            <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
          {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="restaurant">Гурман</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Европейская | Восточноевропейская | Подходит для вегетарианцев</td>
              <td class="location">📍  Улица Кобаладзе, 8а, Батуми Грузия</td>
              <td class="hours"> 🕧   Часы работы:10:00 AM - 12:00 AM</td>
              </tr>
          </table>

            <table class="review">
              <tr>
                <td class="g1"><img src="/static/images/gourmand1.jpg" class="g1"></td>
                <td class="g2"><img src="/static/images/gourmand2.jpeg" class="g2"></td>
                <tr>
                  <td class="g3"><img src="/static/images/gourmand3.jpg" class="g3"></td>
                  <td class="g3"><img src="/static/images/gourmand4.jpg" class="g3"></td>
                  <td class="g3"><img src="/static/images/gourmand5.jpg" class="g4"></td>
              </tr>
          </table>

          <h2>Стильный и модный ресторан “Gourmand” расположился недалеко от набережной Батуми.
<br><br>
Это стильное и модное двухэтажное здание, интерьер в классическом стиле, есть просторная терраса, где можно пообедать на свежем воздухе. Несколько залов, по-разному оформленных, но в каждом царит атмосфера уюта.
<br><br>
В меню блюда европейской и грузинской кухни, есть безглютеновые блюда. Здесь можно посидеть всей семьей, готовят вкусно, особенно, судя по отзывам, хинкали, овощи на гриле, сочная форель и сибаса на углях.
<br><br>
Обязательно закажите вкусное грузинское вино. Из безалкогольных напитков гости оценили домашний лимонад и вкусный кофе.
<br><br>
В ресторане “Gourmand” можно заказать еду на вынос и доставку в отель.</h2>

            <div class="feed">
                <div><a href="{{ url_for('blueprint_prof_feed.leave_feedback')}}">Оставить отзыв</a></div>
                <div><a href="{{ url_for('blueprint_prof_feed.all_feedbacks')}}">Список отзывов о ресторане</a></div>
            </div>

            <p class="contacts"><u>Контакты:</u>
          <p class="contacts">+995 514 68 06 80</p>
              <a href="https://www.facebook.com/eat.naturalgourmand">Веб-сайт</a>
        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>