<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Сердце Батуми</title>
        <meta name='Сердце Батуми' content='обзор ресторана'>
    </head>
    <body>
     {%- block mainmenu -%}
      <ul class="mainmenu">
          <li><a href="{{ url_for('index') }}">Главная</a>
              {% if current_user.is_authenticated %}
            <li><span class="username"><a href="{{ url_for('profile', username=current_user.username)) }}">{{ current_user.username }}</a></span>
            <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
            <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
          {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="restaurant">Сердце Батуми</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Европейская | Грузинская | Вегетарианская</td>
              <td class="location">📍 ул. ген.Мазниашвили 11/Костава 24, Батуми 0102 Грузия   </td>
              <td class="hours">   🕧   Часы работы:11:30 AM - 11:30 PM</td>
              </tr>
          </table>
            <table class="review">
              <tr>
                <td class="h1"><img src="/static/images/heart_of_batumi1.jpg" class="a1"></td>
                <td class="h2"><img src="/static/images/heart_of_batumi2.jpg" class="a1"></td>
                  <td class="h3"><img src="/static/images/heart_of_batumi3.jpg" class="a1"></td>
                </tr>
                </table>

          <h2>Посещение одного из самых популярных ресторанов "Сердце Батуми" обязательно при посещении этого курортного города. С первых минут вас окутывает уютная и домашняя атмосфера, встречают гостеприимные официанты и приходит четкое понимание, что здесь точно будет вкусно.
<br><br>Хоть кафе и небольшое, но очень опрятное, чистое и доброжелательное. Это место рекомендуют абсолютно все местные жители, что гарантирует непревзойденный вкус грузинских блюд.
<br><br>Среди фаворитов - хинкали и хачапури, они здесь получаются особенными за счет соблюдения рецептуры и добавления специй.
<br><br>Цены на всё меню демократичные, многие отмечают большие размеры порций и низкую стоимость. Этот факт является главным преимуществом ресторана среди конкурентов.
          </h2>

            <div class="feed">
                <div><a href="{{ url_for('blueprint_prof_feed.leave_feedback')}}">Оставить отзыв</a></div>
                <div><a href="{{ url_for('blueprint_prof_feed.all_feedbacks')}}">Список отзывов о ресторане</a></div>
            </div>

            <p class="contacts"><u>Контакты:</u>
          <p class="contacts"> +995 568 94 05 15</p>
              <a href="https://heart-of-batumi-georgian-restaurant.business.site/">Веб-сайт</a>
        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>