<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Рестораны Батуми</title>
        <meta name='Рестораны Батуми' content='обзор ресторанов'>
    </head>
    <body>
        <header><h1 class="review">Лучшие рестораны Батуми</h1>
        <img src="/static/images/index_main.jpg" width='1250px'>
        <main>
            <table class="review">
              <tr>
                <th><u>Гурман</u></th>
                <th><u>Алаверди</u></th>
                <th><u>Сердце Батуми</u></th>
              </tr>
              <tr>
                <td class="review"><img src="/static/images/index_gourmand.jpg"></td>
                <td class="review"><img src="/static/images/index_alaverdi.jpg"></td>
                <td class="review"><img src="/static/images/index_heart_of_batumi.jpg"></td>
              </tr>
              <tr>
                <th><u>Panorama</u></th>
                <th><u>Тавадури</u></th>
                <th><u>Мангал</u></th>
              </tr>
              <tr>
                <td class="review"><img src="/static/images/index_panorama.jpg"></td>
                <td class="review"><img src="/static/images/index_tavaduri.jpg"></td>
                <td class="review"><img src="/static/images/index_mangal.jpg"></td>
              </tr>
          </table>
        </main>
        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>