<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
        <title>Рестораны Батуми</title>
        <meta name='Рестораны Батуми' content='обзор ресторанов'>
    </head>
    <body>
    {%- block mainmenu -%}
        <ul class="mainmenu">
          <li><a href="{{ url_for('index') }}">Главная</a>
              {% if current_user.is_authenticated %}
                <li class="username"><a href="{{ url_for('profile', username=g.user.username) }}">Профиль</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
              {% else %}
                <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
                <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
              {% endif %}
      </ul>
    {%- endblock mainmenu -%}
    {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}
    {% block title -%}
        <header><h1 class="review">Лучшие рестораны Батуми</h1>
            <img src="/static/images/index_main.jpg" class="review">
            {% endblock %}

        <main>
            <table class="review">
              <tr>
                  <th><u><a href="{{ url_for('restaurant', rest_id=1) }}">Гурман</a></u></th>
                  <th><u><a href="{{ url_for('restaurant', rest_id=2) }}">Алаверди</a></u></th>
                  <th><u><a href="{{ url_for('restaurant', rest_id=3) }}">Сердце Батуми</a></u></th>
              </tr>
              <tr>
                <td class="review"><img src="/static/images/index_gourmand.jpg" class="review2"></td>
                <td class="review"><img src="/static/images/index_alaverdi.jpg" class="review1"></td>
                <td class="review"><img src="/static/images/index_heart_of_batumi.jpg" class="review1"></td>
              </tr>
              <tr>
                  <th><u><a href="{{ url_for('restaurant', rest_id=4) }}">Panorama</a></u></th>
                  <th><u><a href="{{ url_for('restaurant', rest_id=5) }}">Тавадури</a></u></th>
                  <th><u><a href="{{ url_for('restaurant', rest_id=6) }}">Мангал</a></u></th>
              </tr>
              <tr>
                <td class="review"><img src="/static/images/index_panorama.jpg" class="review2"></td>
                <td class="review"><img src="/static/images/index_tavaduri.jpg" class="review1"></td>
                <td class="review"><img src="/static/images/index_mangal.jpg" class="review1"></td>
              </tr>
          </table>
        </main>
        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>