<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Tangerine Mangal</title>
        <meta name='Mangal' content='обзор ресторана'>
    </head>
    <body>
        <header><h1 class="restaurant">Tangerine Mangal</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Европейская |Винный бар | Кавказская | Грузинская</td>
              <td class="location">📍 Гогебашвили 1/2 Батуми 6400 Грузия </td>
              <td class="hours">   🕧   Часы работы:09:00 AM - 02:00 AM</td>
              </tr>
          </table>
            <table class="review">
              <tr>
                <td class="m1"><img src="/static/images/mangal1.jpg" class="m1"></td>
                <td class="m2"><img src="/static/images/mangal2.jpg" class="m1"></td>
                  <td class="m3"><img src="/static/images/mangal3.jpg" class="m2"></td>
                </tr>
                </table>

          <h2>Ресторан "Мангал" - хороший выбор для любителей грузинской или европейской кухни. Здесь вас примут как дорогих гостей, которых обычно принимают у себя дома.
<br><br>В "Мангале" вы можете попробовать настоящий домашний оджахури. <br><br>Времяпровождение также украсит приятная атмосфера и в дополнение к ней приятная музыка и наличие бесплатного Wi-fi. Размеры порций удовлетворят как "обжор", так и простых любителей вкусно поесть. Особенно посетители рекомендуют пахлаву.
А при входе будет стоять красиво расписанный пианино.
          </h2>
          <button>Оставить отзыв</button>

            <p class="contacts"><u>Контакты:</u>
          <p class="contacts">  +995 555 00 02 85</p>

        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>