<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Panorama</title>
        <meta name='Panorama' content='обзор ресторана'>
    </head>
    <body>
     {%- block mainmenu -%}
      <ul>
          {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('blueprint_auth.logout') }}">Выйти</a>
            <li><a href="{{ url_for('index') }}">Главная</a>
          {% else %}
            {% for m in NAUmenu -%}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
            {% endfor -%}
          {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="restaurant">Panorama</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Европейская | Грузинская</td>
              <td class="location">📍 Шерифа Химшиашвили, 15B, Батуми 6000 Грузия  </td>
              <td class="hours">   🕧   Часы работы:11:00 AM - 01:00 AM</td>
              </tr>
          </table>
            <table class="review">
              <tr>
                <td class="m1"><img src="/static/images/panorama1.jpg" class="m1"></td>
                <td class="m2"><img src="/static/images/panorama2.jpg" class="m1"></td>
                  <td class="m3"><img src="/static/images/panorama3.jpg" class="m2"></td>
                </tr>
                </table>

          <h2>Самый большой ресторанный комплекс в Аджарии с открытыми кухнями в ста метрах над уровнем моря открылся в Батуми.
<br><br>Panorama – многоуровневый ресторанный комплекс от международной компании Ginza Project с двадцатилетним опытом. Уникальный проект с обзором 360, динамическими террасами и кухней от первого грузинского шеф-повара, отмеченного Michelin Guide.
<br><br>Panorama расположился на четырех этажах в центральной ORBI Sea Towers.  Каждый уровень имеет свое настроение и вдохновлен ДНК многогранной Грузинской культуры. Под гастрономический аккомпанемент от Изо Дзандзава вы почувствуете себя самым дорогим гостем на красочном и щедром грузинском застолье, будь вы в компании с сотней друзей или на камерном свидании для двоих. В меню вся классика грузинской кухни – рецепты, которые передаются из поколения в поколение в семье Изо Дзандзава. Но есть место и авторскому прочтению, новаторству и гастрономическому визионерству.
<br><br>Ресторанный комплекс Панорама полон эстетических и гастрономических впечатлений – впервые в Батуми представлен такой масштаб. Открытые кухни, инновационные технологии, уникальное прочтение грузинской кухни, высокий уровень сервиса, невероятная коллекция грузинских редчайших вин. Пожалуй, здесь напрочь отсутствует небрежный шарм аутентичных туристических заведений, но именно таким создателям видится будущее Грузинской ресторанной культуры.
          </h2>

            <div class="feed">
                <div><a href="{{ url_for('leave_feedback')}}">Оставить отзыв</a></div>
                <div><a href="{{ url_for('all_feedbacks')}}">Список отзывов о ресторане</a></div>
            </div>

            <p class="contacts"><u>Контакты:</u>
          <p class="contacts">  +995 598 42 42 42</p>
              <a href="https://ginza.ru/batumi/restaurant/panorama">Веб-сайт</a>
        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>