<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Профиль пользователя</title>
        <meta name='Профиль' content='профиль'>
    </head>
    <body>
    {%- block mainmenu -%}
        <ul class="mainmenu">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('index') }}">Главная</a>
                <li class="username"><a href="{{ url_for('profile', username=g.user.username) }}">Профиль</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
      </ul>
    {% endblock mainmenu -%}

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <table border="0" class="profile-table">
        <tr>
            <td valign="top">
                <div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
                <div class="profile-load">
                    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
                    <p><input type="file" name="file"></p>
                    <p><input type="submit" value="Загрузить"></p>
                    </form>
                </div>
            </td>
            <td valign="top" class="profile-panel">
                <p><a href="{{url_for('auth.logout')}}">Выйти из профиля</a>
                <ul class="profile-info">
                <li>Имя: {{ g.user.username }}</li>
                <li>Email: {{ g.user.email }}</li>
                {% if current_user.last_seen %}
                <li>Заходил(-а) в {{ current_user.last_seen.strftime('%H:%M %d-%m-%Y') }} по Гринвичу</li>
                {% endif %}
                </ul>
            </td>
        </tr>
    </table>
    <h2>Мои отзывы</h2>
    {% for f in my_feedbacks %}
    <table>
        <tr valign="top">
            <td><img class="feedback" src="{{ url_for('userava') }}"></td>
            <td>
                <p>Отзыв <a href="{{ url_for('feed.show_feedback', feedback_id=f.id)}}">"{{f.title}}"</a> на ресторан <a href="{{ url_for('restaurant', rest_id=f.rest_id)}}">"{{f.rest_title}}"</a></p>
                <p>От {{f.created.strftime('%d-%m-%Y')}}</p>
                <p class="annonce">{{ (f.body | striptags) [:50] }}...</p>
            </td>
        </tr>
    </table>
    {% endfor %}
    <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>