<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Тавадури</title>
        <meta name='Тавадури' content='обзор ресторана'>
    </head>
    <body>
     {%- block mainmenu -%}
      <ul>
          {% if g.user % }
            {% for m in NAUmenu -%}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
            {% endfor -%}
          {% else %}
            {% for m in AUmenu -%}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
            {% endfor -%}
          {% endif %}
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="restaurant">Тавадури</h1>
        <main>
          <table>
            <tr>
              <td class="kitchen"> Виды кухни: Гриль | Здоровая | Винный бар</td>
              <td class="location">📍 Улица Лермонтова, 36/38, Батуми 6000-6010 Грузия   </td>
              <td class="hours">   🕧   Часы работы:09:00 AM - 11:45 PM</td>
              </tr>
          </table>
            <table class="review">
              <tr>
                <td class="a1"><img src="/static/images/tavaduri1.jpg" class="t1"></td>
                <td class="t1"><img src="/static/images/tavaduri2.jpg" class="t2"></td>
                  <td class="t2"><img src="/static/images/tavaduri3.jpg" class="t3"></td>
              </tr>
                <tr>
                  <td class="t3"><img src="/static/images/tavaduri4.jpg" class="t3"></td>
              </tr>
          </table>

          <h2>Уютный и стильный ресторан “Tavaduri” в Батуми на улице Лермонтова порадует своих посетителей разнообразием вкусных блюд грузинской кухни по приемлемым ценам.
<br><br><i>Меню</i>
<br>В первую очередь стоит обратить внимание на хачапури на вертеле, салат и вкуснейшие хинкали.
<br><br><i>Широкий выбор напитков</i>
<br>Из алкогольных напитков посетители дали высокую отметку отличному домашнему вину, бочковому пиву и элю. Любителям безалкогольных напитков стоит заказать неплохое варенье и вкусно приготовленное мороженое.
<br><br><i>Забота о гостях и приятная атмосфера</i>
<br>В этом месте уютная атмосфера. Большинство посетителей считают, что в ресторане “Tavaduri” великолепный сервис и первоклассный интерьер. После посещения ресторана “Tavaduri” можно прогуляться и посетить батумский дельфинарий.
.</h2>


           <div class="but">
            <div><button>Оставить отзыв</button></div>
            <div><button>Список отзывов о ресторане</button></div>
          </div>


            <p class="contacts"><u>Контакты:</u>
          <p class="contacts"> +995 593 31 36 11</p>
              <a href="https://www.facebook.com/tavaduribatumii/">Веб-сайт</a>
        </main>

        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
    </body>
</html>