<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Авторизация</title>
        <meta name='Авторизация' content='вход пользователя'>
    </head>
    <body>
    {%- block mainmenu -%}
      <ul class="mainmenu">
          <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
          <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
          <li><a href="{{ url_for('index') }}">Главная</a>
      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="login">Авторизация</h1>
        <main>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

            <form action="" method="post" class="form-contact">
                {{ form.hidden_tag() }}

                {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                    <p> {{ field.label() }}
                    {% if field.errors %}
                        {{ field(class="invalid") }}
                        <span class="invalid-feedback">
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                        </span>
                    {% else %}
                        {{ field() }}
                    {% endif %}
                {% endfor %}

                <p> {{ form.remember.label() }} {{ form.remember()  }}
                <p> {{ form.submit() }}
                <hr>
                <p>Ещё не <a href="{{url_for('auth.register')}}">зарегистрированы?</a>
            </form>
        </main>
        <footer>
            <hr>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>