<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
        <title>Авторизация</title>
        <meta name='Авторизация' content='вход пользователя'>
    </head>
    <body>
    {%- block mainmenu -%}
      <ul class="mainmenu">
          <li><a href="{{ url_for('index') }}">Главная</a>
          <li><a href="{{ url_for('auth.login') }}">Авторизация</a>
          <li><a href="{{ url_for('auth.register') }}">Регистрация</a>

      </ul>
      {% endblock mainmenu -%}
        <header><h1 class="login">Авторизация</h1>
        <main>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

            {% block content %}
            <form method="post" class="form-contact">
            <div><label for="username">Введите имя пользователя: </label>
                <input name="username" id="username" required></div><br>
            <div><label for="password">Введите пароль:</label>
                <input type="password" name="password" id="password" required></div><br>
            <input type="submit" value="Войти">
            </form>
            {% endblock %}

        </main>
        <footer>
            <p class="footer">Автор: Полина Кириченко</p>
        </footer>
     </body>
</html>